* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(58, 125, 180);
    background: linear-gradient(159deg, rgb(29, 141, 60) 0%, rgba(30, 255, 221, 0.596) 50%, rgb(40, 47, 182) 100%);
}

.container {
    height: 100vh;
    width: 100%;
}

.taskTitle {
    width: 80vw;
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    font-family: 'Chalkboard SE', sans-serif;
        font-size: 30px;
        box-shadow: 0px 0px 10px 10px #ffffff95;
        border-radius: 100px;
}

.inputForm {
    width: 80vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.inputForm input {
    width: 15rem;
    height: 1.7rem;
    padding: 0.5rem;
    border: none;
}
.addTodoCheckBox {
    margin-right: 5px;
    height: 10px;
    line-height: 10px;
}
button {
    border: none;
}

/* アイコンクラス名の右側をセレクタに指定 */
.inputForm button .fa-plus {
    padding: 0.50rem;
    background: rgb(232, 220, 46);
}

.inputForm button .fa-trash {
    padding: 0.50rem;
    background: rgb(210, 210, 210);
}

.taskCount {
    text-align: center;
    font-family: 'Hannotate TC', 'Chalkboard SE', sans-serif;
    color: #ffffff;
}
.todoList {
    width: 100vw;
    margin: 2rem auto;
}
.todo {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo label {
    min-width: 15rem;
    max-height: 2rem;
    padding: 0.3rem 4rem;
    background: white;
    box-shadow: 0px 0px 10px 3px #777777;
    border-radius: 27px;
}
